.btn{
    display: flex;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.625rem;
    height: 30px;
    font-size: 13px;
    color: #333333;
}

.btn:hover{
    text-decoration: none;
}

.svg-icon{
padding-right: 8px;
}