.btn{
    display: flex;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
    height: 30px;
    font-size: 13px;
}

button:focus{
    outline: none;
}

.btn:hover{
    text-decoration: none;
}


.svg-icon{
padding-right: 8px;
}