.strea-modal-parent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stream-modal-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 40px;
  border-radius: 1.5rem;
  background: #000;
  width: 30.8125rem;
  /* height: 400px; */
  gap: 2rem;
  padding: 2.125rem 3.5rem;
}

.stream-modal-heading {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.stream-host-btn {
  color: #fff;
  padding: 0.5rem 1.5rem;
  height: 2.3rem;
  width: 17.5rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(
    --gradient,
    linear-gradient(166deg, #0e27aa 0%, #039ee1 100%)
  );
}

.descp1 {
  margin-top: -20px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
}

.partition {
  margin-top: -30px;
  margin-bottom: -10px;
  /* background-color: #0e27aa; */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.partition .or-text {
  background-color: #000000;
  color: #ffffff;
  width: 20px;
  text-align: center;
}

.stream-invite-link {
  display: flex;
  flex-direction: row;
  width: 17.5rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: rgba(0, 0, 0, 0.7);
  /* background-color: #fff; */
}
.stream-input-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.625rem;
  height: 2.3rem;
  background: #ffff;
  width: 100%;
}

.center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-btn {
  display: none;
}

.w-20 {
  width: 20%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}
.w-40 {
  width: 40%;
}

.stream-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 0.625rem;
}

.stream-input:focus {
  border: none;
}

.join-room-btn {
  color: white;
  background: var(
    --gradient,
    linear-gradient(166deg, #0e27aa 0%, #039ee1 100%)
  );
  width: 95%;
  height: 100%;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 0.87rem;
}

.descp2{
  height: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
  line-height: normal;
}

.descp2 p{
  padding-top: 10px;
}
