.stream-main-comp{
width: 100%;
max-width: 1300px;
display: flex;
}

.stream-main-comp .stream-left{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #0F0F0F;
}

.stream-main-comp .stream-video-div{
    margin-top: 40px;
    height: 350px;
    width: 80%;
    border: 1px solid black;
    background-color: #333333;
}

.stream-left .stream-end-div{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    /* background-color: aquamarine; */
}


.stream-left .stream-end-div .leave-btn{
    background-color: #AA0E0E;
    padding: 8px;
    width: 8rem;
    border: none;
    border-radius: 4px;
    height: 2.5rem;
    color: white;
}


.stream-right{
    flex: 1;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.stream-right .stream-chat-box{
    background-color: #333333;
    height: 80vh;
    margin-top: 40px;
    width: 350px;
}