.remove-hover-text-underline:hover {
  text-decoration: none;
}

.nav {
  background-color: #0f0f0f;
  height: 60px;
  display: flex;
  background: #0f0f0f;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.62);
  width: 100%;
  max-width: 1300px;
}

.profile-info{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info:hover{
  cursor: pointer;
}

.profile-info .nav-profile-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.nav .left-nav {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
}

.nav .left-nav .logo-text {
  font-family: Lacquer;
  color: #fff;
  margin-left: 10px;
}
.nav .left-nav .logo {
  height: 100%;
}

.nav .left-nav:hover {
  cursor: pointer;
}

.nav .right-nav {
  flex: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
  gap: 10px;
}

.nav .right-nav .right-nav-el {
  padding: 8px;
  cursor: pointer;
  gap: 1rem;
  color: white;
}

.nav .right-nav .right-nav-el:hover {
  border-radius: 8px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #fff;
  color: #000;
}

.right-nav .right-nav-el:link {
  text-decoration: none;
}

.right-nav .login-btn {
  color: #333333;
  background-color: #fff;
  margin-right: 10px;
}

.right-nav .login-btn:hover {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #fff;
}

.right-nav .signup-btn {
  color: #fff;
  margin-right: 30px;
  border-radius: 10px;
  background: var(
    --gradient,
    linear-gradient(166deg, #0e27aa 0%, #039ee1 100%)
  );
}

.right-nav .signup-btn:hover {
  outline: none;
  border-radius: 8px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(166deg, #0e27aa 0%, #039ee1 100%);
}
