.nav {
  background-color: #0f0f0f;
  height: 60px;
  display: flex;
  background: #0f0f0f;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.62);
  width: 100%;
  max-width: 1300px;
}

.left-nav {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
}

.left-nav .logo-text {
  font-family: Lacquer;
  color: #fff;
  margin-left: 10px;
}
.left-nav .logo {
  height: 100%;
}

.left-nav:hover{
  cursor: pointer;
}

.right-nav {
  flex: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
  gap: 20px;
}

.right-nav .right-nav-el {
  padding: 8px;
  cursor: pointer;
  gap: 1rem;
  color: white;
}

.right-nav .right-nav-el:hover{
  border-radius: 8px;
  background: #fff;
  color: #000;
}

.nav-link-text:hover{
  text-decoration: none;
}


.right-nav .right-nav-el:link{
  text-decoration: none;
}

.right-nav .login-btn {
  color: #333333;
  background-color: #fff;
  margin-right: 10px;
}

.right-nav .login-btn:hover {
  border: 1px solid #fff;
  background-color: #0f0f0f;
  color: #fff;
}

.right-nav .signup-btn {
  color: #fff;
  margin-right: 30px;
  border-radius: 10px;
  background: var(
    --gradient,
    linear-gradient(166deg, #0e27aa 0%, #039ee1 100%)
  );
}

.right-nav .signup-btn:hover {
  background: #0f0f0f;
  border: 1px solid #0e27aa;
  color: #fff;
}
