html, body {
  height: 100%;
  margin: 0;
  background-color: #0f0f0f;
  font-family: 'Nunito', sans-serif;
}


.nav-div {
  height: 10vh;
  display: flex;
  justify-content: center;

}

.body-div {
  margin-top: 2vh;
  height: 88vh;
  display: flex;
  justify-content: center;

  
}
